{% extends 'base.html.twig' %}

{% block title %}Patients
{% endblock %}

{% block body %}
	<h1 class="text-center">Patients</h1>
	<div class="text-center">
		<a href="{{path("patient_add")}}" class="btn p-0 border-0">
			<img src="{{asset("svgs/add.svg")}}" alt="">
		</a>
	</div>
	<form action="{{path("app_patients")}}" method="get" class="my-3">
		<div class="input-group">
			<input type="search" name='search' class="form-control rounded-4 rounded-end-0" placeholder="Search patient by CIN, Name...">
			<button type="submit" class='btn border-0 dark-blue rounded-start-0'>Search</button>
		</div>
	</form>
	{% embed "layouts/table.twig" %}
		{% block thead %}
			<th class="dark-blue">CIN</th>
			<th class="dark-blue">First Name</th>
			<th class="dark-blue">Last Name</th>
			<th class="dark-blue">Phone</th>
			{% if is_granted("ROLE_DOCTOR") %}
				<th class="dark-blue">Created By</th>
			{% endif %}
		{% endblock %}
		{% block tbody %}
			{% for patient in patients %}
				<tr class='table-light fw-medium'>
					<td>{{patient.cin}}</td>
					<td>{{patient.firstName}}</td>
					<td>{{patient.lastName}}</td>
					<td>{{patient.phone|default("No phone")}}</td>
					{% if is_granted("ROLE_DOCTOR") %}
						<td>{{patient.createdBy|default("Unknown")}}</td>
					{% endif %}
					<td class="align-middle">
						<div class="d-flex justify-content-evenly align-items-center">
							<a href="{{path("appointement_add",{id:patient.id})}}" class="btn p-0 border-0" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Add appointement">
								<img src="{{asset("svgs/calendaradd.svg")}}" alt="Add appointement btn">
							</a>
							<a href="{{path("patient_edit",{ id: patient.id })}}" class="btn p-0 border-0" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Edit patient">
								<img src="{{asset("svgs/edit.svg")}}" alt="Edit btn">
							</a>
							{% if is_granted("ROLE_DOCTOR") %}
								<form method="post" class="text-center position-relative" action="{{path('patient_delete', {id: patient.id})}}" onsubmit="return confirm('Delete patient {{patient.cin}}?');">
									<input type="hidden" name="_token" value="{{csrf_token('delete_patient_' ~ patient.id)}}">
									<button type="submit" class="btn p-0 border-0" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Delete patient">
										<img src="{{asset("svgs/delete.svg")}}" alt="Delete btn">
									</button>
								</form>
							{% endif %}
						</div>
					</td>
				</tr>
			{% endfor %}
		{% endblock %}
	{% endembed %}
{% endblock %}
