{% extends 'base.html.twig' %}

{% block title %}Prescriptions
{% endblock %}

{% block body %}
	<h1 class="text-center">Prescriptions</h1>
	{% include "layouts/form.twig" with {pathname:"prescriptions"} %}
	{% if prescriptions|length > 0 %}
		{% embed "layouts/table.twig" %}
			{% block thead %}
				<th class="dark-blue">Patient</th>
				<th class="dark-blue">Medicaments</th>
				<th class="dark-blue">CreatedAt</th>
			{% endblock %}
			{% block tbody %}
				{% for prescription in prescriptions %}
					<tr class="table-light fw-medium">
						<td>{{prescription.patient.firstName ~ " " ~ prescription.patient.lastName ~ "(" ~ prescription.patient.cin ~ ")"}}</td>
						<td>
							{# {{prescription.medicaments}} #}
							<ul>
								{% for med in prescription.parsed %}
									<li>{{med}}</li>
								{% endfor %}
							</ul>
						</td>
						<td>{{prescription.createdAt|date("D, d M Y H:i A")}}</td>
						<td class="align-middle">
							<div class="d-flex justify-content-evenly align-items-center gap-2">
								<a href="{{ path('generate_pdf', { id: prescription.id }) }}" class="btn p-0 border-0" data-bs-toggle="tooltip" title="Print prescription">
									<img src="{{ asset('svgs/print.svg') }}" alt="Edit">
								</a>
								<a href="{{ path('prescription_edit', { id: prescription.id }) }}" class="btn p-0 border-0" data-bs-toggle="tooltip" title="Edit prescription">
									<img src="{{ asset('svgs/edit.svg') }}" alt="Edit">
								</a>
								<form method="post" action="{{ path('prescription_delete', { id: prescription.id }) }}" onsubmit="return confirm('Delete Medical Record For {{ prescription.patient.cin }}?');">
									<input type="hidden" name="_token" value="{{ csrf_token('delete_prescription_' ~ prescription.id) }}">
									<button type="submit" class="btn p-0 border-0" data-bs-toggle="tooltip" title="Delete prescription">
										<img src="{{ asset('svgs/delete.svg') }}" alt="Delete">
									</button>
								</form>
							</div>
						</td>
					</tr>
				{% endfor %}
			{% endblock %}
		{% endembed %}
	{% else %}
		<h1 class="text-center">No results</h1>
	{% endif %}
{% endblock %}
