<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Prescription</title>

		<style>:root
		{
			--var-color: #ffffff;
		}

		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-family: Verdana, sans-serif;
		}

		header {
			background: #1c274c;
			color: var(--var-color);
			padding: 5px 15px;
		}

		.medications {
			margin: 2rem 0 0
		}


		main {
			padding: 20px;
			height: 100vh position: relative;
		}

		.title {
			text-align: center;
			margin: 0
		}

		.infos-wrapper {
			margin-top: 10px
		}

		ul {
			margin: 10px 0;
			padding-left: 20px;
			list-style: disc;
		}

		ul li {
			margin: 15px;
		}


		.signature {
			position: absolute;
			bottom: 50px;
			right: 50px;
			font-size: 1.25rem;
			font-weight: bold;
			text-align: center;
		}

		.signature .date {
			margin-bottom: 5px;
			font-size: 1rem;
		}

		.patient {
			text-align: center;
		}

		hr {
			border: black solid;
			margin-top: 3rem;
			width: 200px;
		}

		table {
			margin: 10px 0;
			width: 100%
		}

		td {
			vertical-align: middle
		}

		table,
		td {
			border-collapse: collapse;
			/* outline: solid */
		}

		td.contacts {}

		td.doctor {
			width: 50%
		}

		td.contacts h3 {
			margin: 10px 0
		}
	</style>
</head>

<body>
	<header>
		<h1 class="title">Medical Prescription</h1>
		<table>
			<tr>
				<td class="doctor">
					<h2>
						DR.
						{{user.getFullname}}
						<br>
						{{settings.specialty}}
					</h2>
				</td>
				<td class="contacts">
					<h3>Cabinet:
						{{settings.cabinet}}</h3>
					<h3>Phone:
						{{settings.phone}}
					</h3>
					<h3>Address:
						{{settings.address}}</h3>
					<h3>Email:
						{{settings.email}}</h3>
				</td>
			</tr>
		</table>
	</header>
	<main>
		<h2 class="patient">Patient:
			{{ prescription.patient.firstName }}
			{{ prescription.patient.lastName }}
		</h2>
		{% set meds = prescription.medicaments|split('\n') %}
		<h2 class="medications">Medications:
		</h2>
		<ul>
			{% for med in meds %}
				{% if med|trim %}
					<li>
						<h3>{{ med }}</h3>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
		<div class="signature">
			<div class="date">Date
				{{ "now"|date("d/m/Y") }}</div>
			<div>Signature</div>
			<hr>
		</div>
	</main>
</body></html>
