<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> {% block stylesheets %}{% endblock %}
		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body class="vh-100 vw-100 d-flex overflow-hidden">
		{% set page = app.request.attributes.get('_route') %}
		<nav class="navbar bg-secondary shadow vh-100 d-flex flex-column align-items-center gap-4 py-3">
			<div class="w-100 position-relative px-2">
				<button class="menu-btn btn p-0 border-0 p-2 nav-link stretched-link" type="button">
					<img src="{{asset("svgs/menu.svg")}}" alt="menu button" class="w-100">
				</button>
			</div>
			<ul class="navbar-nav flex-fill w-100 ">
				{% if is_granted("ROLE_DOCTOR") %}
					<li class="nav-item position-relative px-2" title="Dashboard">
						<a class="nav-link px-2 rounded-4 stretched-link d-flex align-items-center gap-2 {{page == "app_dashboard" ? " bg-dark-subtle" : " "}}" href="{{path("app_dashboard")}}">
							<img src="{{asset("svgs/chart.svg")}}" alt="dashboard icon">
							<span class="fw-bold d-none fs-5">Dashboard</span>
						</a>
					</li>
				{% endif %}
				<li class="nav-item position-relative px-2" title="Patients">
					<a class="nav-link px-2 rounded-4 stretched-link d-flex align-items-center gap-2 {{page == "app_patients" ? " bg-dark-subtle" : " "}}" href="{{path("app_patients")}}">
						<img src="{{asset("svgs/patients.svg")}}" alt="patients icon">
						<span class="fw-bold d-none fs-5">Patients</span>
					</a>
				</li>
				<li class="nav-item position-relative px-2" title="Appointements">
					<a class="nav-link px-2 rounded-4 stretched-link d-flex align-items-center gap-2 {{page == "app_appointements" ? " bg-dark-subtle" : " "}}" href="{{path("app_appointements")}}">
						<img src="{{asset("svgs/calendar.svg")}}" alt="appointements icon">
						<span class="fw-bold d-none fs-5">Appointements</span>
					</a>
				</li>
				{% if is_granted("ROLE_DOCTOR") %}
					<li class="nav-item position-relative px-2" title="Medical Records">
						<a class="nav-link px-2 rounded-4 stretched-link d-flex align-items-center gap-2 {{page == "app_medicalrecords" ? " bg-dark-subtle" : " "}}" href="{{path("app_medicalrecords")}}">
							<img src="{{asset("svgs/folder.svg")}}" alt="appointements icon">
							<span class="fw-bold d-none fs-5">Medical Records</span>
						</a>
					</li>
					<li class="nav-item position-relative px-2" title="Prescriptions">
						<a class="nav-link px-2 rounded-4 stretched-link d-flex align-items-center gap-2 {{page == "app_prescriptions" ? " bg-dark-subtle" : " "}}" href="{{path("app_prescriptions")}}">
							<img src="{{asset("svgs/doc.svg")}}" alt="appointements icon">
							<span class="fw-bold d-none fs-5">Prescriptions</span>
						</a>
					</li>
					<li class="nav-item position-relative px-2" title="Users">
						<a class="nav-link px-2 rounded-4 stretched-link d-flex align-items-center gap-2 {{page == "app_users" ? " bg-dark-subtle" : " "}}" href="{{path("app_users")}}">
							<img src="{{asset("svgs/profile.svg")}}" alt="appointements icon">
							<span class="fw-bold d-none fs-5">Users</span>
						</a>
					</li>
				{% endif %}
			</ul>
			<ul class="navbar-nav w-100">
      {% if is_granted('ROLE_DOCTOR') %}
				<li class="nav-item position-relative px-2" title="Dahsboard">
					<a class="nav-link px-2 rounded-4 stretched-link d-flex align-items-center gap-2 {{page == "app_settings" ? " bg-dark-subtle" : " "}}" href="{{path("app_settings")}}">
						<img src="{{asset("svgs/settings.svg")}}" alt=""><span class="fw-bold d-none fs-5">Settings</span>
					</a>
				</li>
        {% endif %}
				<li class="nav-item position-relative px-2 ">
					<a href="{{logout_path()}}" class="nav-link px-2 stretched-link d-flex align-items-center gap-2">
						<img src="{{asset("svgs/logout.svg")}}" alt="logout icon">
						<span class="fw-bold d-none fs-5">Logout</span>
					</a>
				</li>
			</ul>
		</nav>
		<main class="flex-fill overflow-y-auto">
			<div class="d-flex justify-content-center align-items-center mb-3">
				<span class="p-3 rounded-bottom-5 py-2 fw-medium text-white dark-blue">
					{{app.user.getFullName()}}
					({{app.user.getRoles()[0] == "ROLE_DOCTOR" ? "DOCTOR" : "SECRETARY"}})
				</span>
			</div>
			<div class="container"> {% block body %}{% endblock %}
				</div>
			</main>
			{% for label,messages in app.flashes() %}
				{% for message in messages %}
					<div class="crud-alert alert alert-{{label == "success" ? "success" : "danger"}} rounded-start-4 fw-medium rounded-end-0 my-5  shadow position-fixed end-0 top-0">{{message}}</div>
				{% endfor %}
			{% endfor %}
		</body>
	</html>
