<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> {% block stylesheets %}{% endblock %}
		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body class="vh-100 vw-100 d-flex">
		{% set page = app.request.attributes.get('_route') %}
		<nav class="navbar bg-secondary shadow w-25 h-100 d-flex flex-column align-items-between gap-4 py-3">
			<button class="btn p-0 border-0" type="button">
				<img src="{{asset("svgs/menu.svg")}}" alt="menu button">
			</button>
			<ul class="navbar-nav flex-fill">
				<li class="nav-item position-relative p-2">
					<a class="nav-link px-2 rounded-4 stretched-link {{page == "app_dashboard" ? " bg-dark-subtle" : " "}}" href="{{path("app_dashboard")}}">
						<img src="{{asset("svgs/chart.svg")}}" alt="">
					</a>
				</li>
				<li class="nav-item position-relative p-2">
					<a class="nav-link px-2 rounded-4 stretched-link {{page == "app_dashboard" ? " bg-dark-subtle" : " "}}" href="{{path("app_dashboard")}}">
						<img src="{{asset("svgs/profile.svg")}}" alt="">
					</a>
				</li>
				<li class="nav-item position-relative p-2">
					<a class="nav-link px-2 rounded-4 stretched-link {{page == "app_dashboard" ? " bg-dark-subtle" : " "}}" href="{{path("app_dashboard")}}">
						<img src="{{asset("svgs/profile.svg")}}" alt="">
					</a>
				</li>
			</ul>
			<div class="d-flex gap-3 flex-column">
				<button class="btn p-0 border-0" type="button">
					<img src="{{asset("svgs/settings.svg")}}" alt="">
				</button>
				<a href="{{logout_path()}}">
					<img src="{{asset("svgs/logout.svg")}}" alt="">
				</a>
			</div>
		</nav>
		<main class="flex-fill"> {% block body %}{% endblock %}
			<div class="container border">
				<h1>sdjflijdgsi</h1>
			</div>
		</main>
	</body>
</html>
