{# templates/patient/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}User/Add
{% endblock %}

{% block body %}
	<div class="container py-5">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card rounded-4 overflow-hidden">
					<div class="card-header" style="background-color: #1c274c">
						<h4 class="mb-0 text-center text-white">Add User</h4>
					</div>
					<div class="card-body">
						{{ form_start(form) }}
						<div class="form-floating mb-3">
							{{ form_widget(form.firstName) }}
							<label for="">
								First Name
								<span class="text-danger fw-bold">
									*
									{% if form.firstName.vars.errors|length > 0 %}
										{{ form.firstName.vars.errors[0].message }}
									{% endif %}
								</span>
							</label>
						</div>
						<div class="form-floating mb-3">
							{{ form_widget(form.lastName) }}
							<label for="">
								Last Name
								<span class="text-danger fw-bold">
									*
									{% if form.lastName.vars.errors|length > 0 %}
										{{ form.lastName.vars.errors[0].message }}
									{% endif %}
								</span>
							</label>
						</div>
						<div class="form-floating mb-3">
							{{ form_widget(form.email) }}
							<label for="">
								Email
								<span class="text-danger fw-bold">
									*
									{% if form.email.vars.errors|length > 0 %}
										{{ form.email.vars.errors[0].message }}
									{% endif %}
								</span>
							</label>
						</div>
						<div class="form-floating mb-3 position-relative">
							{{ form_widget(form.password) }}
							<label for="">
								Password
								<span class="text-danger fw-bold">
									*
									{% if form.password.vars.errors|length > 0 %}
										{{ form.password.vars.errors[0].message }}
									{% endif %}
								</span>
							</label>
							<button type="button" class="border-0 p-0 show-password btn top-0 my-2 end-0 mx-3 position-absolute">
								<img src="{{asset("svgs/eye.svg")}}" alt="">
							</button>
						</div>
						<div class="mb-3">
							<label for="">
								Role
								<span class="text-danger fw-bold">
									*
									{% if form.roles.vars.errors|length > 0 %}
										{{ form.roles.vars.errors[0].message }}
									{% endif %}
								</span>
							</label>
							{{ form_widget(form.roles) }}
						</div>
						<div class="text-center">
							<button type="submit" class="btn btn-success border-0 rounded-pill px-5 fw-medium dark-blue">
								Add
							</button>
						</div>
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
